:root {
  --bg-color-header: #778da9;
  --color-background: #f7f9fc;

  --font-color-primary: #fff;
  --font-color-secondary: #0073e6;
  --font-color-hero-section-primary: #d3d3d3;
  --font-color-hero-section-secondary: #f5f3f4;

  --bg-color-footer: #415a77;

  --color-btn-primary: #0073e6;
  --color-btn-footer: #ff5722;
  --color-btn-link: #0073e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

mp-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}